---
layout: stock
---

<div class="stock-links">
    <a href="/stock/performance">Performance Stock →</a>
</div>
<div class="container-fluid" id="page">
    <div class="posts-wrapper w-100">
        <div class="row">
            {% set postslist = collections.post %}

            {% for post in postslist | reverse %}
                {% if post.data.sold %}
                {% else %}
                    {% if post.data.performance != true %}
                        <div class="col-md-6 col-lg-4">
                            <a href="{{ post.url | url }}">
                                <div class="post mb-4">
                                    <img src="{{ post.data.thumbnail }}" alt="" class="thumbnail">
                                    <div class="post-content text-center mt-3">
                                        <h3>
                                            <a href="{{ post.url | url }}">
                                                {% if post.data.title %}
                                                    {{ post.data.title }}
                                                {% else %}
                                                    Untitled
                                                {% endif %}
                                            </a>
                                        </h3>
                                        {% if post.data.coming %}
                                            <h4 class="soon">*** COMING SOON ***</h4>
                                        {% endif %}
                                        <p>
                                        </p>
                                        {% if post.data.specs %}
                                            <table class="table table-striped">
                                                <tbody>
                                                {% if post.data.sold != true %}
                                                    <tr>
                                                        <td><b>Price</b></td>
                                                        <td>{{post.data.specs[0].price}}</td>
                                                    </tr>
                                                {% endif %}
                                                <tr>
                                                    <td><b>Colour</b></td>
                                                    <td>{{post.data.specs[0].colour}}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Year</b></td>
                                                    <td>{{post.data.specs[0].year}}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Mileage</b></td>
                                                    <td>{{post.data.specs[0].mileage}}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Engine</b></td>
                                                    <td>{{post.data.specs[0].engine}}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Registration</b></td>
                                                    <td>{{post.data.specs[0].reg}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        {% endif %}
                            
                                        <p>
                                            <a href="{{ post.url | url }}" style="color:#56b1fa;">
                                                View advert →
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% for post in postslist | reverse %}
                {% if post.data.sold %}
                    {% if post.data.performance != true %}
                        <div class="col-md-6 col-lg-4">
                            <a href="{{ post.url | url }}">
                                <div class="post mb-4">
                                    <img src="{{ post.data.thumbnail }}" alt="" class="thumbnail">
                                    <div class="post-content text-center mt-3">
                                        <h3>
                                            <a href="{{ post.url | url }}">
                                                {% if post.data.title %}
                                                    {{ post.data.title }}
                                                {% else %}
                                                    Untitled
                                                {% endif %}
                                            </a>
                                        </h3>
                                        {% if post.data.sold %}
                                            <h4 class="sold">*** SOLD ***</h4>
                                        {% endif %}
                                        <p>
                                        </p>
                                        {% if post.data.specs %}
                                            <table class="table table-striped">
                                                <tbody>
                                                {% if post.data.sold != true %}
                                                    <tr>
                                                        <td><b>Price</b></td>
                                                        <td>{{post.data.specs[0].price}}</td>
                                                    </tr>
                                                {% endif %}
                                                <tr>
                                                    <td><b>Colour</b></td>
                                                    <td>{{post.data.specs[0].colour}}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Year</b></td>
                                                    <td>{{post.data.specs[0].year}}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Mileage</b></td>
                                                    <td>{{post.data.specs[0].mileage}}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Engine</b></td>
                                                    <td>{{post.data.specs[0].engine}}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Registration</b></td>
                                                    <td>{{post.data.specs[0].reg}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        {% endif %}
                            
                                        <p>
                                            <a href="{{ post.url | url }}" style="color:#56b1fa;">
                                                View advert →
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>