@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat SemiBold";
  src: url("../fonts/Montserrat-SemiBold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-display: swap;
}
html {
  overflow-x: hidden;
}
* {
  font-family: "Montserrat";
}
h1, h2 {
 font-family: "Montserrat SemiBold"; 
}
a {
  color: #000;
  text-decoration: none;
}
.nav-link {
  color: #fff !important;
  text-transform: uppercase;
}
.nav-link:hover {
  color: #fff;
}
#compnav .nav-link {
  color: #fff !important;
}
#compnav .nav-link:hover {
  color: #fff;
}
a:hover {
  color: #000;
  text-decoration: underline;
}
#page {
  padding: 0;
}
.header {
  background-image: url("../img/header.jpg");
  background-size: cover;
  min-height: 90vh;
}
.header-content {
  color: #fff;
  padding-top: 8rem;
}
.header-content h1 {
  font-size: 5rem;
}
.header-content p {
  font-size: 1.2rem;
}
.btn {
  border-radius: 5px;
}
.btn-primary {
  background-color: #58A4DC;
  border: 0;
}
.btn-primary:hover {
  background-color: #204D75;
}
.page-content {
  width: 100%;
  max-width: 80vw;
  margin: 0 auto;
}
.logo {
  max-width: 25rem;
}
.navbar-nav {
  color: #fff;
}
.nav-item {
  margin: 0 1rem 0 1rem;
}
.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  background: #00DC7F;
  width: 1.5rem;
  height: 0.25rem;
}
.hamburger::before {
  transform: translateY(-0.5rem);
  transition: all 0.5s;
}
.hamburger::after {
  transform: translateY(-0.1rem);
  transition: all 0.5s;
}
.hamburger {
  background: none;
  transition: all 0.5s;
  z-index: 2;
  position: relative;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked ~ .hamburger::before {
  transform: rotate(45deg) translateX(0rem) translateY(-0rem);
}
input[type="checkbox"]:checked ~ .hamburger::after {
  transform: rotate(-45deg) translateX(0.15rem) translateY(-0.2rem);
}
input[type="checkbox"]:checked ~ .hamburger {
  transform: translateY(-0.1rem);
}
.featured h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
}
.featured img {
  max-height: 20rem;
}
.featured a {
  font-weight: 800;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: "Montserrat Bold";
}
.featured a:hover {
  text-decoration: none;
}
.featured-wrapper .col-lg-4 {
  transition: transform .8s;
}
.featured-wrapper .col-lg-4:hover {
  -ms-transform: scale(1.08); /* IE 9 */
  -webkit-transform: scale(1.08); /* Safari 3-8 */
  transform: scale(1.08);
}
.discover-btn:hover {
  color: #58A4DC;
}
#sc1 {
  background-image: url("../img/sc1.jpg");
}
#sc2 {
  background-image: url("../img/sc2.jpg");
}
.sc .col-lg-6 {
  background-size: cover;
  background-position: center;
  transition: all .5s ease-in-out;
}
.sc .col-lg-6:hover {
  filter: brightness(60%);
}
.sc h2 {
  color: #fff;
  padding: 18rem 0;
  font-size: 2rem;
}
.sc a:hover {
  text-decoration: none;
}
.footer {
  background-color: #272727;
  padding: 2rem;
  color: #fff;
}
.footer p {
  margin-bottom: 0;
  font-size: 1.1rem;
}
.footer a {
  color: #fff;
}
.icon svg, .icon p {
  display: inline;
}
.polax {
  color: #ff7502 !important;
}
.polax:hover {
  color: #ff7502;
  text-decoration: underline;
}

@media screen and (min-width: 576px) {
  .menu-toggle {
      opacity: 0;
      display: none;
  }
}