backend:
  # Use netlify identity as backend
  name: git-gateway
  branch: master
  ### enable below lines for github integration ###
  # name: github
  # repo: surjithctly/neat-starter
media_folder: "src/static/img"
public_folder: "/static/img"

# Please run "npx netlify-cms-proxy-server" for local backend
local_backend: true
# publish_mode: editorial_workflow
collections:
  - label: "Item"
    name: "post"
    folder: "src/posts"
    create: true
    editor:
      preview: false
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Featured Image", name: "thumbnail", widget: "image" }
      - { label: "Gallery", name: "galleryImages", widget: "list", summary: '{{fields.image}}', field: {label: Image, name: image, widget: image} }
      - { label: "Specifications", name: "specs", widget: "list", summary: '{{fields.price}} - {{fields.reg}}', fields: [{label: Price, name: price, widget: string}, {label: Colour, name: colour, widget: string}, {label: Year, name: year, widget: string}, {label: Mileage, name: mileage, widget: string}, {label: Engine, name: engine, widget: string}, {label: Registration, name: reg, widget: string}] }
      - { label: "Body", name: "body", widget: "markdown" }
            #- widget: select
      #  label: "tags"
      #  name: "tags"
      #  multiple: true
      #  create: true
      #  options: ["Tags", "created", "from", "config.yml"]