---
layout: default
title: First Automotive
path: home
---

<div class="container-fluid" id="page">
    <div class="header">
        <div class="nav-wrapper homenav" id="top">
            <nav class="navbar navbar-expand-sm page-content" id="banner">
                <a href="/">
                    <picture>
                        <source type="image/webp" srcset="/static/img/webp/logo.webp">
                        <source type="image/png" srcset="/static/img/logo.png">
                        <img src="static/img/logo.png" alt="First Automotive Logo" class="logo"></img>
                    </picture>
                </a>
        
                <div class=menu-toggle>
                    <label for="check" onclick="checkCheck()">
                        <input type="checkbox" id="check" data-toggle="collapse" data-target="#collapseNav">
                        <div class="hamburger"></div>
                    </label>
                </div>
        
                <div class="collapse navbar-collapse justify-content-end" id="collapseNav">
                    <ul class="navbar-nav" id="compnav">
                        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="/stock">Cars For Sale</a></li>
                        <li class="nav-item"><a class="nav-link" href="/stock/performance">Performance Cars</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contact">Enquire</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="header-content page-content">
            <div class="header-content-wrapper">
                <h1 class="animate-reveal-x">Classic and Performance Car Services</h1>
                <p class="animate-reveal-x delay">Your go-to platform for finding your next automotive investment.</p>
                <a href="/contact"><button class="btn btn-lg btn-primary animate-reveal-x delay">Enquire Now</button></a>
            </div> 
        </div>
    </div>
    <div class="page-content featured text-center pt-4 animate-reveal-y">
        <h2>Featured Stock</h2>
        <div class="featured-wrapper row">

            {% set postslist = collections.post %}

            {% for post in postslist | reverse %}
                {% if loop.index0 < 3 %}
                    <div class="col-lg">
                        <a href="{{ post.url | url }}">
                            <div class="post mb-4">
                                <img src="{{ post.data.thumbnail }}" alt="">
                                <div class="post-content">
                                    <p class="car-title">
                                        <a href="{{ post.url | url }}">
                                            {% if post.data.title %}
                                                {{ post.data.title }}
                                            {% else %}
                                                Untitled
                                            {% endif %}
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}

            <a href="/stock" class="discover-btn mt-3">Discover More →</a>
        </div>
    </div>
    <div class="container-fluid sc mt-5">
        <div class="row text-center">
            <div class="col-lg-6" id="sc1">
                <a href="/stock">
                    <div class="sc-wrapper">
                        <h2>Cars for Sale</h2>
                    </div>
                </a>
            </div>
            <div class="col-lg-6" id="sc2">
                <a href="/contact">
                    <div class="sc-wrapper">
                        <h2>Contact Us</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>